
.wishList-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid #FCC7FE;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.wishList-item:hover {
    background-color: #68A6FF;
}

.wishList-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 15px;
}

.wishList-item-details {
    display: flex;
    flex-direction: column;
}

.wishList-item-name {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: #555;
}

.wishList-item-price {
    font-size: 14px;
    color: #555;
}