.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color:  #3E1C5F;;
    color: #fff;
}

.footer-section {
    flex: 1;
    padding: 0 10px;
}

.footer-links h4 {
    margin-bottom: 10px;
}

.footer-links li {
    list-style: none;
    margin-bottom: 5px;
    cursor: pointer;
}

.social-media-icons a {
    margin-right: 10px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}